<%= render partial: "shared/errors", locals: { error_object: maze } if maze.errors.any? %>

<%= form_for form_object, html: { role: "form", multipart: true } do |f| %>
  <div class="panel maze clearfix">
    <h2>
      <%= maze.persisted? ? "Update" : "Create" %> your maze.
      <div class="pull-right">
        <%= f.submit "Submit Maze", class: "btn btn-primary submit" %>  
      </div>
    </h2>
  </div>
  
  <div class="row maze">
    <div class="col-md-8">
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= f.label "Title" %>
        </div>
        <div class="panel-body">
          <%= f.text_field :title, class: "form-control", placeholder: "The Nefarious Adventure" %>
        </div>
      </div>
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= f.label "Description" %>
        </div>
        <div class="panel-body">
          <%= f.text_area :description, class: "form-control", placeholder: "There is more to an adventure than having a good time.  In this story, you will have to keep your wits about to survive." %>
        </div>
      </div>
    
    </div>
    
    <%= f.fields_for :picture_attributes do |p| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= p.label "Maze Image" %>
          </div>
          <div class="panel-body">
            <%= image_tag(maze.image.url, width: "100%") if maze.picture %>
            <hr>
            <%= p.file_field :image %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  
<% end %>

