<div class="panel panel-default maze-panel">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-target="#maze-body-<%= maze.id %>" href="#maze-body-<%= maze.id %>">
        <%= maze.title %> - <%= maze.author.profile.name %>
        
        <span class="pull-right">
          <%= maze.average_rating ? "#{maze.average_rating} out of 5" : "Unrated" %>
        </span>
      </a>
    </h4>
    
  </div>
  <div id="maze-body-<%= maze.id %>" class="panel-collapse collapse">
    <div class="panel-body">
      <%= maze.description.html_safe %>
      <div class="icons">
        <% if maze.author == current_user %>
          <a class="pull-right" href="#">
            <span class="glyphicon glyphicon-trash">
            </span>
          </a>
          <a class="pull-right" href="#">
            <span class="glyphicon glyphicon-pencil">
            </span>
          </a>
        <% end %>
        <a class="pull-right" href="#">
          <span class="glyphicon glyphicon-play">
          </span>
        </a>
      </div>
    </div>
  </div>
</div>