<div class="panel panel-default maze">
  <div class="panel-heading">
    <h2 class="panel-title">
      <% if reference == :index %>
        <a data-toggle="collapse" data-target="#maze-body-<%= maze.id %>" href="#maze-body-<%= maze.id %>"><%= maze.title %></a>
        
        <% unless maze.author == current_user %>
          - 
          <span class="author">
            <%= link_to(maze.author) do %>
              <%= author_name(maze) %> 
              <span class="glyphicon glyphicon-user">
              </span>
            <% end %>
          </span>
        <% end %>
        
        <span class="pull-right maze-rating <%= rating_class(maze) %>">
        </span>
      <% else %>
        <%= @maze.title %>
         - 
        <span class="author">
          <%= link_to(maze.author) do %>
            <%= author_name(maze) %> 
            <span class="glyphicon glyphicon-user">
            </span>
          <% end %>
        </span>
        
        <span class="pull-right maze-rating <%= rating_class(maze) %>">
        </span>
      <% end %>
    </h2>
  </div>
  
  <% if reference == :index %>
    <div id="maze-body-<%= maze.id %>" class="panel-collapse collapse">
  <% end %>
  
  <div class="panel-body">
    <div class="row">
      <% if maze.picture %>
        <div class="col-md-2">
          <%= image_tag(maze.image.url, class: "maze-image") %>
        </div>
      <% end %>
      
      <div class="<%= maze.picture ? 'col-md-10' : 'col-md-12' %>">
        <div class="description">
          <%= maze.description.html_safe %>
        </div>
      </div>
      
      <div class="col-md-12">
        <div class="icons pull-right">
          <%= link_to(play_maze_path(maze), class: "btn btn-primary") do %>
            <span class="glyphicon glyphicon-play">
            </span>
            Play
          <% end %>
      
          <%= link_to(maze_ratings_path(maze), class: "btn btn-primary") do %>
            <span class="glyphicon glyphicon-comment">
            </span>
            Ratings
          <% end %>
      
          <% if maze.author == current_user %>
          
            <% if reference == :index %>
              <%= link_to(maze_url(maze), class: "btn btn-primary") do %>
                <span class="glyphicon glyphicon-eye-open">
                </span>
                View
              <% end %>
            <% end %>
        
            <%= link_to(edit_maze_url(maze), class: "btn btn-primary") do  %>
              <span class="glyphicon glyphicon-pencil">
              </span>
              Edit
            <% end %>
    
            <% unless maze.published %>
              <%= link_to(publish_maze_url(maze), class: "btn btn-primary") do  %>
                <span class="glyphicon glyphicon-book">
                </span>
                Publish
              <% end %>
            <% end %>
    
            <%= link_to(maze_url(maze), class: "btn btn-primary", method: :delete, data: { confirm: "Really delete #{maze.title}?" } ) do %>
              <span class="glyphicon glyphicon-trash">
              </span>
              Delete
            <% end %>
        
          <% end %>
        </div>
      </div>
    </div>
  </div>
    
  <% if reference == :index %>
    </div>
  <% end %>
</div>