<h1>Create a maze!</h1>

<div class="row">
  <div class="col-md-6">
    <%= form_for [current_user, @maze], html: { role: "form", multipart: true } do |f| %>
    
      <div class="form-group">
        <%= f.label "Title" %>
        <%= f.text_field :title, class: "form-control", placeholder: "The Nefarious Adventure" %>
      </div>
    
      <div class="form-group">
        <%= f.label "Description" %>
        <%= f.text_area :description, class: "form-control", placeholder: "There is more to an adventure than having a good time.  In this story, you will have to keep your wits about to survive." %>
      </div>

      <div class="form-group">
        <%= f.submit "Create Maze", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector:'textarea', 
    menubar: false
  });
</script>