<div class="maze-panel">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= @maze.title %> - <%= @maze.author.profile.name %>
    
      <span class="pull-right">
        <%= @maze.average_rating ? "#{@maze.average_rating} out of 5" : "Unrated" %>
      </span>
    </h4>
  </div>

  <div class="panel-body">
    <%= @maze.description.html_safe %>
    <div class="icons">
      <% if @maze.author == current_user %>
        <a class="pull-right" href="#">
          <span class="glyphicon glyphicon-trash">
          </span>
        </a>
        <a class="pull-right" href="#">
          <span class="glyphicon glyphicon-pencil">
          </span>
        </a>
      <% end %>
      <a class="pull-right" href="#">
        <span class="glyphicon glyphicon-play">
        </span>
      </a>
    </div>
  </div>
  
  <br>
  
  <% if @maze.author == current_user %>
    <div class="panel-heading">
      <h5 class="panel-title room-header">
        Rooms currently in maze.
      </h5>
    </div>
  
    <div class="panel-body">
      <div class="row">
        <%= render @maze.rooms %>
      </div>
    </div>
  <% end %>
</div>