<%= form_for form_object, html: { role: "form", multipart: true } do |f| %>

  <div class="panel profile">
    <h2>
      <% if profile.persisted? %>
        Update your profile.
        
        <div class="pull-right">
          <%= f.submit "Update Profile", class: "btn btn-primary" %>    
        </div>
      <% else %>
        Create your profile.
        
        <div class="pull-right">
          <%= f.submit "Create Profile", class: "btn btn-primary" %>    
        </div>      
      <% end %>
    </h2>
  </div>

  <div class="row profile">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= f.label "Name" %>
        </div>
        <div class="panel-body">
          <%= f.text_field :name, class: "form-control", placeholder: "Jane Doe" %>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= f.label "Location" %>
        </div>
        <div class="panel-body">
          <%= f.text_field :location, class: "form-control", placeholder: "Brooklyn, NY" %>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= f.label "Biography" %>
        </div>
        <div class="panel-body">
          <%= f.text_area :biography, class: "form-control" %>
        </div>
      </div>
    </div>  
    
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= f.label "Avatar" %>
        </div>
        <div class="panel-body">
          <%= image_tag(@profile.avatar.url, width: "100%") if @profile.avatar %>
          <hr>
          <%= f.file_field :avatar %>
        </div>
      </div>
    </div>
  <% end %>
</div>