<div class="row">
  <%= form_for [current_user, Profile.new(user: current_user)], html: { role: "form", multipart: true } do |f| %>
    
    <div class="form-group col-md-3">
      <%= f.label "Name" %>
      <%= f.text_field :name, class: "form-control", placeholder: "Jane Doe" %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label "Location" %>
      <%= f.text_field :location, class: "form-control", placeholder: "Brooklyn, NY" %>
    </div>

    <div class="form-group col-md-3">
      <%= f.label "Birthdate" %>
      <%= f.date_select :birthdate, class: "form-control" %>
    </div>
    
    <div class="form-group col-md-3">
      <%= f.label "Avatar" %>
      <%= f.file_field :avatar %>
    </div>

    <div class="form-group col-md-12">
      <%= f.label "Biography" %>
      <%= f.text_area :biography, class: "form-control", placeholder: "I love ice cream and dancing.  I'm here to spread joy to the world." %>
    </div>
    
    <div class="form-group col-md-12">
      <%= f.label "Profile Visible?" %>
      <%= f.check_box :visible %>
    </div>

    <div class="form-group col-md-12">
      <%= f.submit "Create Profile" %>
    </div>
  <% end %>
</div>