<%= render partial: "shared/errors", locals: { error_object: maze } if maze.errors.any? %>

<div class="row">
    
  <div class="col-md-3">
    <div class="panel panel-default maze">
      <div class="panel-heading">
        Maze Stats
      </div>
      <div class="panel-body">
        <p>
          Total Plays
          <span class="pull-right">
            <%= maze.total_wins + maze.total_losses %>
          </span>
        </p>
        
        <p>
          Wins
          <span class="pull-right">
            <%= maze.total_wins %>
          </span>
        </p>
        
        <p>
          Losses
          <span class="pull-right">
            <%= maze.total_losses %>
          </span>
        </p>
        
        <p>
          Average Rating
          <span class="pull-right">
            <%= maze.average_rating || "Unrated" %>
          </span>
        </p>
      </div>
    </div>
    
    <div class="panel panel-default maze">
      <div class="panel-heading">
        Links
      </div>
      <div class="link-panel text-center">
        <div class="panel-body">
          <%= link_to(move_to_room_url(maze, maze.start_room), class: "btn btn-primary") do %>
            <span class="glyphicon glyphicon-play">
            </span> Start the maze
          <% end %>
        </div>
        
        <% if current_user.has_finished?(maze) && !current_user.has_rated?(maze) %>
          <div class="panel-body">
            <%= link_to(new_maze_rating_path(maze), class: "btn btn-primary") do %>
              <span class="glyphicon glyphicon-play">
              </span> Rate the maze
            <% end %>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
  
  <div class="col-md-9">
    <div class="panel panel-default maze">
      <div class="panel-heading">
        <h2 class="panel-title">
          <%= maze.title %>
        </h2>
      </div>
      <div class="panel-body">
        
        <% if true %>
          <%= image_tag(maze.image.url, class: "maze-image pull-right") if maze.picture %>
        <% end %>
        
        <%= maze.description.html_safe %>
      </div>
    </div>
    
    <% if rating %>
      <div class="panel panel-default maze">
        <div class="panel-heading">
          <h2 class="panel-title clearfix icons">
            Your Rating
            <%= link_to( edit_rating_path( current_user.ratings.find_by( maze: maze )), class: "btn btn-primary pull-right") do %>
              <span class="glyphicon glyphicon-play">
              </span> Edit your rating
            <% end %>
          </h2>
        </div>
        <div class="panel-body">
          <%= rating.description %>
          <span class="pull-right rating <%= personal_rating_class(rating) %>">
        </div>
      </div>
    <% end %>
  </div>
</div>