<div class="col-md-4 col-sm-6 profile">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
        <%= link_to user.profile.name, user %>
      </h4>
    </div>
    <div class="panel-body">
      <div class="media">
        <%= link_to(user, class: "pull-left") do %>
          <% if user.profile.avatar %>
            <%= image_tag user.profile.avatar.url(:original), width: "64" %>
          <% else %>
            <%= image_tag "avatar.png" %>
          <% end %>
        <% end %>
        <div class="media-body">
          <p>
            Published Mazes
            <span class="pull-right">
              <%= user.mazes.published.count %>
            </span>
          </p>
          <p>
            Maze Quality
            <span class="pull-right rating <%= user_rating_class(user) %>">
            </span>
          </p>
        </div>
      </div>   
      <hr>
      <p>
        Played Mazes
        <span class="pull-right">
          <%= user.histories.count %>
        </span>
      </p>
      <p>
        Win Percentage
        <span class="pull-right">
          <%= win_percentage(user) %>
        </span>
      </p>    
    </div>
  </div>
</div>