<div class="col-md-3 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">Name</div>
    <div class="panel-body">
      <%= user.profile.name %>
      <%= link_to user do %>
        <span class="glyphicon glyphicon-user"></span>
      <% end %>
    </div>
    
    <div class="panel-heading">Published Mazes</div>
    <div class="panel-body">
      <%= user.profile.name %>
    </div>
    
    <div class="panel-heading">Maze Quality</div>
    <div class="panel-body">
      <%= user.profile.name %>
    </div>
  </div>
</div>

<div class="col-md-3 col-sm-6">
  <%= image_tag user.profile.avatar.url, width: "100%"  %>
</div>