<div class="col-md-3 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">Name</div>
    <div class="panel-body">
      <%= user.profile.name if user.profile %>
      <%= link_to user do %>
        <span class="glyphicon glyphicon-user"></span>
      <% end %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Published Mazes</div>
    <div class="panel-body">
      <%= user.mazes.where(published: true).count %>
    </div>
  </div>
  <div class="panel panel-default">  
    <div class="panel-heading">Maze Quality</div>
    <div class="panel-body">
      <%= user.mazes.select { |m| m.average_rating }.inject(:+) %>
    </div>
  </div>
</div>

<div class="col-md-3 col-sm-6">
  <%= image_tag user.profile.avatar.url, width: "100%"  %>
</div>