<div class="panel panel-default">
  
  <div class="panel-heading">
    <h2 class="panel-title clearfix">     
      <% if room == room.maze.start_room %>
        <span class="glyphicon glyphicon-star">
        </span>
      <% elsif !(room.win || room.lose) %>
        <%= link_to move_start_url(room), class: "pull-right icons btn btn primary" do %>
          <span class="glyphicon glyphicon-ok-sign">
          </span>
          Make start room
        <% end %>
      <% end %>
      
      <% if room.is_disconnected? %>
        <span class="glyphicon glyphicon-exclamation-sign">
        </span>
      <% end %>
      
      <% if room.win %>
        <span class="glyphicon glyphicon-thumbs-up">
        </span>
      <% end %>
      
      <% if room.lose %>
        <span class="glyphicon glyphicon-thumbs-down">
        </span>
      <% end %> 
      
      <%= room.name %>
    </h2>
    
    
  </div>
  
  <div class="panel-body">
    <div class="clearfix">
      <div class="description">
        <%= room.description.html_safe %>
      </div>
    
      <div class="icons pull-right">
        <% if room.maze.author == current_user %>
          <%= link_to(edit_room_path(room), class: "btn btn-primary") do  %>
            <span class="glyphicon glyphicon-pencil">
            </span>
            Edit
          <% end %>
        
          <%= link_to(room_path(room), class: "btn btn-primary", method: :delete, data: { confirm: "Really delete '#{room.name}'?" } ) do %>
            <span class="glyphicon glyphicon-trash">
            </span>
            Delete
          <% end %>

        <% end %>
      </div>
    </div>
    
    <hr>
    
    <b>Comes from:</b> <%= room.previous_rooms.map(&:name).join(', ') %>
  </div>
</div>  
