<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Choose Thy Own Adventure</title>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "/layouts/header" if current_user %>

<div class="container">
  <%= render "/shared/flash_error" if flash[:error] %>

  <%= yield %>
</div>

<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: 'textarea', 
    menubar: false,
    height: 200,
    toolbar: [
    "styleselect | bold italic underline | undo redo "
    ],
    style_formats: [
      {title: "Title", format: "h1"},
      {title: "Subtitle", format: "h2"},
      {title: "Paragraph", format: "p"}
    ],
    content_css: "<%= asset_path description.css %>",
    setup: function(editor) {
      // editor.addButton('Title', {
      //   title : 'Title',
      //   text: "Title",
      //   onclick : function() {
      //     tinymce.get
      //   }
      // });
      //
      editor.on("init", function() {
        editor.addShortcut("ctrl+1", "", "");
        editor.addShortcut("ctrl+2", "", "");
        editor.addShortcut("ctrl+3", "", "");
        editor.addShortcut("ctrl+4", "", "");
        editor.addShortcut("ctrl+5", "", "");
        editor.addShortcut("ctrl+6", "", "");
        editor.addShortcut("ctrl+7", "", "");
        editor.addShortcut("ctrl+8", "", "");
        editor.addShortcut("ctrl+9", "", "");
        editor.addShortcut("ctrl+0", "", "");
        editor.addShortcut("ctrl+h1", "", "");
        editor.addShortcut("ctrl+h2", "", "");
        editor.addShortcut("ctrl+h3", "", "");
        editor.addShortcut("ctrl+h4", "", "");
        editor.addShortcut("ctrl+h5", "", "");
        editor.addShortcut("ctrl+h6", "", "");
      });
    }
  });
</script>

</body>
</html>

